.rightnav{
    display: block;
    color: rgba(213, 213, 228, 0.795);
    float: left;
    background-color: #F1F1F1;
    height: 90vh;
    width: 25%;
}
.headline{
    color: black;
}
.song{
    /* position: absolute; */
    font-weight: bold;
    list-style: unset;
    font-size: 20px;
    float: left;
    color: black;
    border: initial;
}
ul{
  display: block;
  list-style-type: none;
  color: black;
  font-weight: bold;
}
li{
  text-align: left;
  
}