.leftnav{
    display: block;
    color: rgb(213, 213, 228);
    float: left;
    background-color:#F1F1F1;
    height: 90vh;
    width: 25%;
}
.headline{
    color: black;
}
.h3{
    color: black;
}
.scrollbar {
    overflow-y: scroll;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar-primary::-webkit-scrollbar {
    background-color: rgb(211, 202, 230);
  }

  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(145, 132, 221);
  }
  .li{
      color: black;
  }
  