.progress {
    width: 48%;
  
    position: absolute;
    top:36.5%;
    background-color: #ece8e8;
    outline: none;
    opacity: 0.2;
    cursor: pointer;
    
  
    .progress-inner {
      height: 100%;
    
      
    }
  }