.progress{
  width: 50%;

  display: flex;
  opacity: 0.6;
  outline: none;
  cursor: ew-resize;


  .progress-inner{
    height: 100%;   
    opacity: 0.4;
  
  }
}
.canvas{
  position: absolute;
  left:'25%';
  top:'40.5%';
}

.time{
  font-weight: bolder;
  color: black;
  position: absolute;
  left:70%;
  top: 22%;
}
.cropping{
  color: black;
  position: absolute;
  top: 53%;
  left: 40.5%;
  white-space: pre;
}
