.progress{
  width: 50%;

  position: absolute;
  top:36.5%;
  opacity: 0.7;
  background-color: #a39a9a;
  outline: none;
  cursor: ew-resize;

  .progress-inner{
    height: 100%;   
    opacity: 0.4;
  
  }
}
