.main {
    text-align: center;
    display: block;
    background-color: blue;
    float: center;
    height: 80vh;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 15vh;
  }  

  .middlenav{
    color: rgb(213, 213, 228);
    float: left;
    background-color: #F1F1F1;
    height: 90vh;
    width: 50%;
    border: 1px solid ;
}
.btnTool{
    width: 100%;
    margin-top: 10%;

}
.btn3{
width: 50%;
margin-top: 10%;
position: relative;
margin-left: 25%;
margin-right: 25%;
}
.btn-small{
    width: 20%;
    margin-left: 1%;
}
.btn4{
    width: 40%;
    margin-left: 5%;
}
h5, h2{
    color: black;
    font-weight: bold;
    margin-right: 10px;
}
.btnQuality{
    width: 50%;
    align-items: center;
    margin: auto;
}
.vl {
    background-color: black;
   position: relative;
  top: 30%;
   left: 50%;
    border-left: 6px solid rgb(21, 255, 0);
    height: 20.5%;
  }
  .vl {
    border-left: 6px solid green;
    height: 500px;
  }

   
  
