.Login{
    background-color: rgb(88, 82, 82);
    padding: 1%;
    float: bottom;
    margin: 5% 40%;
    max-width: 20%;
}
.formGroup{
    text-align: left;
    display: inline;
}
.App-logo {
    width: 100%;
}

.formControl{
    width: 75%;
    float: center;
    border: 1x solid;
    padding: 12px;
    margin-top: 5px;

    background-color: rgb(74, 30, 117);
}
#button{
    color: black;
    background-color: white;
}
#span{
    font-weight: 900;
}
#Link{
    color: black;
    background-color: black;
    text-emphasis-color: black;
}
