.Login{
    background-color: white;
    padding: 1%;
    margin: 0 auto;
    max-width: 320px;
}
.formGroup{
    text-align: left;
    width: 100%;
    display: inline;
}
.App-logo {
    width: 100%;
}

.formControl{
    width: 75%;
    float: center;
    background-color: rgb(220, 210, 230);
}
