.Login{
    background-color: rgb(68, 59, 59);
    padding: 1%;
    float: bottom;
    margin: 5% 40%;
    max-width: 20%;
}
.formGroup{
    text-align: left;
    display: inline;
}
.App-logo {
    width: 100%;
}

.formControl{
    width: 75%;
    float: center;
    border: 1x solid;
    padding: 12px;
    background-color: rgb(220, 210, 230);
}
#button{
    color: black;
    background-color: white;
}
#Link{
    color: black;
    background-color: black;
    text-emphasis-color: black;
}
