.nav{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background: rgb(13, 13, 231);
    text-align: left;
    width: 100%;
    float: left;
    /* margin-top: -3.2vh; */
}
.Nav-logo {
    width: 8%;
}