.middlenav{
    color: rgb(213, 213, 228);
    float: left;
    background-color: #F1F1F1;
    height: 90vh;
    width: 50%;
}
.form{
    display: inline-table;
}
.btn-secondary{
    margin-top: 10%;
}
.btn-light{
    width: 100%;
    margin-top: 2%;
   
    
}

.label{
    color: black;
}