.middlenav{
    color: rgb(213, 213, 228);
    float: left;
    background-color: gray;
    height: 90vh;
    width: 50%;
}
.form{
    display: inline-table;
}
.btn-secondary{
    margin-top: 10%;
}
.btn-light{
    width: 100%;
}