.rightnav{
    display: block;
    color: rgba(213, 213, 228, 0.795);
    float: left;
    background-color: #F1F1F1;
    height: 90vh;
    width: 25%;
}

.my-dropdown{
    width: 100%;
    border-color: yellow;
    background-color: violet;
}
.drop{
    width: 100%;
    margin-top: 5%;
    border: black;
}
.headline{
    color: black;
}