.rightnav{
    display: block;
    color: rgba(213, 213, 228, 0.795);
    float: left;
    background-color: #F1F1F1;
    height: 90vh;
    width: 25%;
}

.my-dropdown{
    border-color: yellow;
    background-color: violet;
    margin-top: 17.5%;
}