.song{
    /* position: absolute; */
    font-weight: bold;
    list-style: unset;
    font-size: 20px;
    float: left;
    color: black;
    border: initial;
}
ul{
  display: block;
  list-style-type: none;
  color: black;
  font-weight: bold;
}
li{
  text-align: left;
}