.Login{
    background-color: whitesmoke;
    padding: 1%;
    border: black;
    border-style: solid;
    float: bottom;
    margin: 10% 40%;
    max-width: 20%;
    position: absolute;
}
.formGroup{
    text-align: left;
    display: inline;
}
.App-logo {
    width: 100%;
}
.losIgInButton{
    background-color: white;
}
.formControl{
    width: 75%;
    float: center;
    border: 1x solid;
    padding: 12px;
    margin-top: 5px;

    background-color: rgb(249, 249, 250);
}

#button{
    color: black;
    background-color: white;
}
#span{
    font-weight: 900;
}

